:host {

  *{
    margin: 0px;
    padding: 0px;
    /* background-image: url('/assets/images/mainBgc.png'); */
    color: #9E9E9E;
  }


  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 40px 20px;
  }

  mat-progress-bar {
    width: 100%;
    z-index: 5;
    height: 1px;
    background-color: #ffffff;
  }


  .header-progress {
    align-items: center;
    width: 100%;
    display: flex;
    position: relative;
    height: 50px;

  }

  .header-progress-navigation {
    width: 400px;

  }

  .header-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
  }
  .header-navigation > a {
    cursor: pointer;
  }
  .header-navigation > a:hover {
    color: #ffffff;
  }


  .header-progress-navigation:hover .star {
    display: block;
  }



  .star {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 6;
    display: none;
    transition: 0.2s;
  }

  .logo{
    display: flex;
    flex-direction: column-reverse;
    width: 130px;
    padding-left: 50px;
    img {
      height: 25px;
      cursor: pointer;
    }
  }

  .logIn {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 50px;
    button {
      background-color: rgba(28,28,28,0);
      height: 40px;
      width: 120px;
      border-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, #6858DC 80%);
      border-image-slice: 1;
      cursor: pointer;
      animation-duration: 2s;
      font-size: 14px;
    }
    button:hover {
      color: #ffffff;
      animation-name: gradientBorder;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  }


  @keyframes gradientBorder {
    0%{
      border-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, #6858DC 80%);
      border-image-slice: 1;
    }
    25%{
      border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, #6858DC 80%);
      border-image-slice: 1;
    }
    50%{
      border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, #6858DC 80%);
      border-image-slice: 1;
    }
    75%{
      border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 20%, #6858DC 80%);
      border-image-slice: 1;
    }
    100%{
      border-image: linear-gradient(360deg, rgba(255, 255, 255, 0) 20%, #6858DC 80%);
      border-image-slice: 1;
    }

  }

  ::ng-deep .mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #6858DC;
}

}
