<header class="wrapper">
  <div class="logo">Logo</div>
  <div class="header-progress-navigation">
    <div class="header-progress">
      <mat-progress-bar mode="determinate" [value]="progressValue" class="matProgress" ></mat-progress-bar>
      <img src="assets/images/Vector.png" alt="" class="star" color="#1F232E">
    </div>

    <div class="header-navigation" >
      <a id="first" (click)="changeProgress($event)" >first</a>
      <a (click)="changeProgress($event)">second</a>
      <a (click)="changeProgress($event)">third</a>
      <a id="last" (click)="changeProgress($event)">fourth</a>
    </div>
  </div>
  <div class="logIn"><button>Вход</button></div>
</header>
