:host {

  .wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    h3 {
      color: #6858DC;
    }
    .wrapper-view {
      height: 35%;
      background-color: #E7D795;
      border-radius: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      color: #000000;
      position: relative;
      img {
        position: absolute;
        width: 250px;
        left: 55%;
        bottom: 0;
      }
      .text {
        h3 {
          color: #000000;
          font-family: ttTravel-bold;
          font-size: 18px;
        }
        p {
          display: flex;
          align-items: center;
          span {
            padding-left: 5px;
            font-size: 30px;
            font-family: ttTravel-bold;
            color: #6858DC;
          }
        }
      }
      .btn {
        position: relative;
        left: 20%;
        display: flex;
        align-items: end;
        padding-bottom: 20px;
        button {
          border-radius: 15px;
          width: 120px;
          height: 50px;
          background-color: #6858DC;
        }
      }

    }
  }
}
