<div class="wrapper">
  <h3>/ Новости</h3>
  <div class="wrapper-content">
    <div class="wrapper-content-view">
      <img class="newsSpace" src="assets/images/newsSpace.png" alt="">
      <div class="title">
        <div class="new-tags">
          <img src="assets/images/ellipse.png" alt="">
          <span>тег</span>
        </div>
        <h1>ПРЕМЬЕРА В МИНСКОМ ПЛАНЕТАРИИ</h1>
        <p>“Космическая история” – новый полнокупольный фильм в афише минского Планетария. <br>
          Он перенесет зрителей в будущее, на урок в лунный класс, на котором они узнают о создании первой ракеты и первого искусственного спутника Земли, о подготовке и полёте человека в космос, посадке автоматических межпланетных станций на Луну и Венеру, запуске луноходов, пилотируемых космических аппаратов и орбитальных космических станций, а также о работе современных космических обсерваторий, кораблей и ракет.
        </p>
      </div>
    </div>

    <div class="newsA"></div>
  </div>
</div>
