:host {

  .wrapper {
    width: 80%;
    margin: 0 auto;
    h3 {
      padding-left: 50px;
      color: #6858DC;
      padding-bottom: 50px;
    }
    .wrapper-content {

      .wrapper-content-view {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 400px;
        padding-bottom: 50px;
        .newsSpace {
          width: 55%;
          border-radius: 30px 0 0 0;
        }
        .title {
          width: 40%;
          background-color: #131617;
          font-size: 12px;
          border-radius: 0 20px 0 0;
          padding: 10px 15px 15px 15px;
          position: relative;
          .more {
            position: absolute;
            bottom: 15px;
            font-size: 14px;
            cursor: pointer;
            color: #6858DC;
          }
          .more:hover {
            border-bottom: 1px solid #6858DC;
          }
          .new-tags {
            color: #E7D795;
            padding: 10px 0;
            font-size: 12px;
            img {
              padding-right: 5px;
            }
          }
        }
      }
      .newsA {
        display: flex;
        flex-direction: row;
        gap: 2%;
        padding-bottom: 40px;
        flex-wrap: wrap;

      }
    }
  }
}

@media (max-width: 950px) {
  .wrapper-content-view {
    display: none !important;
  }
}
