:host {

  footer {
    background-color: #171921;
    color: #fff;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    bottom: 0;
  }

  .wrapperContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    text-align: center;

    .footer-logo > img {
      width: 200px;
      height: 40px;
    }

    .footer-icons,
    .footer-navigation {
      padding-top: 15px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    .footer-icons > img {
      width: 25px;
      height: 25px;
    }

    .footer-icons {
      width: 200px;
    }

    .footer-navigation {
      width: 100%;
      a {
        cursor: pointer;
      }

      a:hover {
        color: #6858DC;
      }
    }

  }


}
@media (max-width:1000px) {

  .wrapperContent {
    width: 100% !important;
  }
}
