<footer>

    <div class="wrapperContent">
        <div class="footer-logo"><img src="assets/images/logo.png" alt=""></div>
        <div class="footer-navigation">
            <a id="first">Сеансы</a>
            <a>О нас</a>
            <a>Новости</a>
            <a id="last">Учебный центр</a>
        </div>
        <div class="footer-icons">
            <img src="assets/images/facebook.png" alt="#">
            <img src="assets/images/instagram.png" alt="#">
            <img src="assets/images/twitter.png" alt="#">
        </div>

    </div>
    <span>@Marina 2023</span>
</footer>