:host {
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
      width: 450px;
      height: 450px;
      background-color: #000000;
      border-radius: 20px;
      padding: 0 75px 0 75px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 20px 0 150px 0;
      position: relative;
      h3 {
        color: #6858DC;
      }
      #loginAndRegisterPicture {
        position: absolute;
        width: 350px;
        height: 500px;
        right: -300px;
        top: 100px;
      }
      .create-account-form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        color: #FFFFFF;
        input {
          color: #FFFFFF;
        }
      }
      .btn-AndRegistr {
        display: flex;
        flex-direction: column;
        color: #9E9E9E;
        button {
          height: 50px;
          color: #000000;
          background-color: #6858DC;
          font-weight: 600;
          margin-bottom: 15px;
        }
        span {
          a {
            color: #6858DC;
            cursor: pointer;
          }
        }

      }

    }
  }
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #000000;
  }
  ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #9E9E9E;
  }
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: #9E9E9E;
  }
  ::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #6858DC;
  }
  ::ng-deep .mat-mdc-form-field-error {
    color: var(--mdc-theme-error, #82ED2E);
  }
  .material-symbols-outlined {
    cursor: pointer;
    color:#9E9E9E;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
  transition: background-color 5000s ease-in-out 0s;
  }
}

@media (max-width: 1000px) {
  #loginAndRegisterPicture {
    display: none !important;
  }
  .wrapper {
    width: 300px !important;
    padding: 0 40px 0 40px !important;
  }
}
@media (max-width: 1200px) {
  #loginAndRegisterPicture {
    width: 250px !important;
    height: 400px !important;
    right: -200px !important;
  }
}
