<div class="login-container">
  <div class="wrapper">
    <h3>/ Вход</h3>
    <form class="create-account-form">
      <mat-form-field appearance="fill">
        <mat-label>Логин</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput >
      </mat-form-field>
    </form>
    <div class="btn-AndRegistr">
      <button mat-flat-button color="primary">Далее</button>
      <span>У вас нет аккаунта?<a> Регистрация</a></span>
    </div>
    <img id="loginAndRegisterPicture" src="assets/images/loginAndRegisterPicture.png" alt="">
  </div>
</div>
