<div class="wrapper">
  <div class="info">
    <button id="exit" (click)="forwardGames()">
      <img src="assets/images/log-out.png" alt="#">
    </button>
    <div class="content">
      <h3>Игра Карточки Памяти: Космос</h3>
      <span>Как играть?</span>
      <p>Эта игра показывает огромное множество космических тел, существующих в нашем уголке вселенной.Исследуйте пространство, не вставая с кресла. Ваша задача открыть все карточки. На них будут изображены астероиды, планеты, звезды, юные астронавты, космические станции и так далее. Вы должны открыть картинки, только обязательно две одинаковые, тогда они вернутся в прежнее положение.</p>
      <button mat-button (click)="startGame()" >Начать игру</button>
    </div>
  </div>

  <div class="game">
    <table>
      <tr *ngFor="let item of items">
        <td *ngFor="let i of item.tr">
          <div *ngIf="!tempSeconds;else elseBlock">
            <img class="cards" (click)="turnCard($event)"  src="{{i.mystery}}" alt="">
          </div>
          <ng-template #elseBlock>
            <div>
              <img class="cards"  src="{{i.value}}" alt="">
            </div>
          </ng-template>
        </td>
      </tr>
    </table>
  </div>

</div>



