<div class="registration-container">
  <div class="wrapper">
    <h3>/ Регистрация</h3>
    <form class="create-account-form">
      <mat-form-field appearance="fill">
        <mat-label>Логин</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Почта</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput visibility>
      </mat-form-field>
    </form>
    <div class="btn-AndRegistr">
      <button mat-flat-button color="primary">Далее</button>
      <span>Уже есть аккаунт?<a> Войти</a></span>
    </div>
    <img id="loginAndRegisterPicture" src="assets/images/loginAndRegisterPicture.png" alt="">
  </div>
</div>

<!-- <div class="choose-avatar-container">
  <div class="wrapper">
    <h3>/ Регистрация</h3>
    <span>Выберите свой аватар:</span>
    <div class="avatars">
      <img src="assets/images/avatar_1.png" alt="">
      <img src="assets/images/avatar_2.png" alt="">
      <img src="assets/images/avatar_3.png" alt="">
      <img src="assets/images/avatar_4.png" alt="">
      <img src="assets/images/avatar_5.png" alt="">
      <img src="assets/images/avatar_6.png" alt="">
      <img src="assets/images/avatar_7.png" alt="">
      <img src="assets/images/avatar_8.png" alt="">
      <img src="assets/images/avatar_9.png" alt="">
      <img src="assets/images/avatar_10.png" alt="">
      <img src="assets/images/avatar_11.png" alt="">
    </div>
    <div class="btn-AndLogin">
      <button mat-flat-button color="primary">Далее</button>
      <span>Уже есть аккаунт?<a> Войти</a></span>
    </div>
    <img id="chooseAvatarPicture" src="assets/images/LookingHuman.png" alt="">
  </div>
</div> -->

<!-- <div class="choose-news-container">
  <div class="wrapper">
    <div class="wrapper-content">
      <h3>/ Регистрация</h3>
      <span>Какие новости о космосе вам интересны?</span>
      <div class="news">
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option>Планеты</mat-chip-option>
          <mat-chip-option>Мероприятия</mat-chip-option>
          <mat-chip-option color="accent" selected>Для детей</mat-chip-option>
          <mat-chip-option color="warn">Ракетостроение</mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>

    <div class="btn-AndLogin">
      <button mat-flat-button color="primary">Зарегистрироваться</button>
      <span>Уже есть аккаунт?<a (click)="login()"> Войти</a></span>

    </div>
    <img id="chooseNewsPicture" src="assets/images/waitingHuman.png" alt="">
  </div>
</div> -->
