
<div class="wrapper">
  <div class="wrapper-img">
    <img src="assets/images/ellipseError1.png" alt="">
    <img src="assets/images/ellipseError2.png" alt="">
    <img src="assets/images/ellipseError3.png" alt="">
    <img src="assets/images/ellipseError4.png" alt="">
    <img src="assets/images/ellipseError5.png" alt="">
    <img src="assets/images/ellipseError6.png" alt="">
    <img  src="assets/images/ellipseError7.png" alt="">

    <span>404</span>
    <a (click)="home()">вернуться назад</a>


  </div>

</div>



