<div class="wrapper">
  <div class="title">
    <span>На каждой планете тебя ждет особенное задание!<br> Выбери любую, которая тебе понравилась больше всего!</span>
  </div>
  <div class="select-games" (mouseover)="addAvatar($event)" (mouseout)="removeAvatar($event)" (click)="forwardGame($event)">
    <img class="solarSystemGame" src="assets/images/solarSystemGame.png" alt="#">
    <img class="barleyBreakGame" src="assets/images/barleyBreakGame.png" alt="#">
    <img class="memoGame" src="assets/images/memoGame.png" alt="#">
    <img class="visualGame" src="assets/images/visualGame.png" alt="#">
    <img class="learnPlanetsGame" src="assets/images/learnPlanetsGame.png" alt="#">
  </div>
</div>
