<div class="wrapper">
  <div class="leftside">
    <img src="{{selectedSession.picture}}" alt="">
    <div class="leftside-description">
      <div class="text">
        <h4>Описание</h4>
        <span>Когда засуха, пыльные бури и вымирание растений приводят человечество к продовольственному кризису, коллектив исследователей и учёных отправляется сквозь червоточину...</span>
      </div>
      <div class="text">
        <h4>Режиссер</h4>
        <span>Кристофер Нолан</span>
      </div>
      <div class="text">
        <h4>Жанр</h4>
        <span>{{selectedSession.discription}}</span>
      </div>
      <div class="text">
        <h4>Страна</h4>
        <span>США, Великобритания, Канада</span>
      </div>
    </div>
  </div>

  <div class="rightside">
    <div class="rightside-header">
      <span class="title">{{selectedSession.name}}</span>
      <div class="header-info">
        <div class="time">
          <img src="assets/images/clock.png" alt="">
          <span>169 мин.</span>
        </div>
        <div class="room">
          <span>зал 1</span>
        </div>
      </div>
    </div>

    <div class="rightside-content">

      <div class="rightside-date">
        <span class="title">{{day[allDate[0].item.getDay()]}}, {{allDate[0].item.toLocaleDateString('ru',{day: 'numeric'})}} {{month[allDate[0].item.getMonth()]}}</span>
        <div class="rightside-time">

          <div  *ngFor="let time of allDate">
            <span class="active" *ngIf="time.item.toLocaleTimeString('ru', {hour: 'numeric', minute:'2-digit'}) === currentHour;else disable" (click)="chooseHour($event)"  >
              {{time.item.toLocaleTimeString([], {hour: 'numeric' , minute: '2-digit'})}}
            </span>
            <ng-template #disable>
              <span class="disable" (click)="chooseHour($event)" >
                {{time.item.toLocaleTimeString([], {hour: 'numeric' , minute: '2-digit'})}}
              </span>
            </ng-template>
          </div>




        </div>
      </div>
      <div class="rightside-room">
        <div class="leftRight-seats">
          <div class="booking-seats"></div>
          <div class="booking-seats" ></div>
          <div class="booking-seats"></div>
        </div>
        <span>ЭКРАН</span>
        <div class="leftRight-seats">
          <div class="booking-seats" [ngStyle]="{'rotate': '180deg'}"></div>
          <div class="booking-seats" [ngStyle]="{'rotate': '180deg'}"></div>
          <div class="booking-seats" [ngStyle]="{'rotate': '180deg'}" ></div>
        </div>
      </div>



    </div>
    <div class="rightside-footer">
      <div class="seats">
        <div class="seat">
          <img  src="assets/images/SeatSelected.png" alt="">
          <span>Выбрано</span>
        </div>
        <div class="seat">
          <img src="assets/images/Seat.png" alt="">
          <span>Свободно</span>
        </div>
        <div class="seat">
          <img src="assets/images/SeatBusy.png" alt="">
          <span>Занято</span>
        </div>
      </div>
      <div class="pay">
        <span>Итого: {{selectedSession.price}} BYN</span>
        <button mat-flat-button color="primary" (click)="bookingTicket()" >К оплате</button>
      </div>
    </div>
  </div>

  <div class="pay-ticket" *ngIf="isPay">
    <div class="wrapper">
      <h3>/ Оплата</h3>
      <div class="content">
        <img src="{{selectedSession.picture}}" alt="">
        <div class="content-text">
          <span class="title">{{selectedSession.name}}</span>
          <span class="text">{{selectedSession.discription}}</span>
          <span class="date">{{day[allDate[0].item.getDay()]}}, {{allDate[0].item.getDay()}} {{month[allDate[0].item.getMonth()]}}</span>
        </div>
      </div>
      <div class="add-info">
        <span class="add-info-number">Номер заказа: ???</span>
        <div class="price">
          <span>{{countSeats}} БИЛЕТА</span>
          <span>{{selectedSession.price*countSeats}} BYN</span>
        </div>
      </div>
      <form class="create-account-form" >
        <mat-form-field appearance="fill">
          <mat-label>Введите вашу почту</mat-label>
          <input matInput  visibility>
        </mat-form-field>
      </form>
      <div class="btn">
        <button type="submit" mat-flat-button color="primary" (click)="buyTicket()" >Оформить билет</button>
      </div>
      <div class="exit">
        <button><img src="assets/images/exit.png" alt=""></button>
      </div>
    </div>
  </div>


</div>
