<div class="wrapper">
  <div class="leftside">
    <img src="{{selectedSession.picture}}" alt="">
    <div class="leftside-description">
      <div class="text">
        <h4>Описание</h4>
        <span>Когда засуха, пыльные бури и вымирание растений приводят человечество к продовольственному кризису, коллектив исследователей и учёных отправляется сквозь червоточину...</span>
      </div>
      <div class="text">
        <h4>Режиссер</h4>
        <span>Кристофер Нолан</span>
      </div>
      <div class="text">
        <h4>Жанр</h4>
        <span>{{selectedSession.discription}}</span>
      </div>
      <div class="text">
        <h4>Страна</h4>
        <span>США, Великобритания, Канада</span>
      </div>
    </div>
  </div>

  <div class="rightside">
    <div class="rightside-header">
      <span class="title">{{selectedSession.name}}</span>
      <div class="header-info">
        <div class="time">
          <img src="assets/images/clock.png" alt="">
          <span>169 мин.</span>
        </div>
        <div class="room">
          <span>зал 1</span>
        </div>
      </div>
    </div>

    <div class="rightside-content">

      <div class="rightside-date">
        <div class="date container">
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Выберите дату</mat-label>
            <input  matInput [matDatepicker]="datepicker" (dateChange)="apply($event)" [value]="date.value">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary"  matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </div>
        <div class="time container" *ngIf="hasTime">
          <span>Выберите время</span>
          <div class="current-time">
            <div  *ngFor="let item of allTime">
              <div class="select-time"
                  (click)="chooseHour($event)"
                  [ngClass]="active(item.item.getHours())">
                {{item.item.getHours()}}:00
              </div>
            </div>
          </div>
        </div>
        <div class="time container nonTime" *ngIf="!hasTime && date.value">
          <p>В этот день сеансов, к сожалению, нет!</p>
        </div>

      </div>
      <div class="rightside-room">
        <div class="leftRight-seats left">
          <div class="booking-seats"></div>
          <div class="booking-seats" ></div>
          <div class="booking-seats"></div>
        </div>
        <span>ЭКРАН</span>
        <div class="leftRight-seats right">
          <div class="booking-seats" [ngStyle]="{'rotate': '180deg'}"></div>
          <div class="booking-seats" [ngStyle]="{'rotate': '180deg'}"></div>
          <div class="booking-seats" [ngStyle]="{'rotate': '180deg'}" ></div>
        </div>
      </div>



    </div>
    <div class="rightside-footer">
      <div class="seats">
        <div class="seat">
          <img  src="assets/images/SeatSelected.png" alt="">
          <span>Выбрано</span>
        </div>
        <div class="seat">
          <img src="assets/images/Seat.png" alt="">
          <span>Свободно</span>
        </div>
        <div class="seat">
          <img src="assets/images/SeatBusy.png" alt="">
          <span>Занято</span>
        </div>
      </div>
      <div class="pay">
        <span>Итого: {{selectedSession.price}} BYN</span>
        <button mat-flat-button color="primary" (click)="pay()" >К оплате</button>
      </div>
    </div>
  </div>




</div>
