<section>
  <div class="view-wrapper">

    <div class="leftside">
      <h3>Планетарий<br/> в <span>Минске</span></h3>
      <span>Полет к звездам — реальность</span>
      <button mat-flat-button color="primary" (click)="forwardSession()">Выбрать сеанс</button>
    </div>

    <div class="rightside">
      <img src="/assets/images/humanOnPlanet.png" alt="">
    </div>

  </div>
</section>

<section>
  <div class="info-wrapper">
    <span class="info-wrapper-title">В нашем учебном центре можно:</span>
    <div class="info-cards">
      <div class="info-card UFO">
        <img src="assets/images/UFO.png" alt="">
        <span>Посетить музей НЛО</span>
      </div>

        <div class="info-card Human">
          <img id="RunningHuman" src="assets/images/RunningHuman.png" alt="">
          <span>Ощутить себя настоящим космонавтом</span>
        </div>


      <div class="info-card Telescope">
        <img src="assets/images/Telescope.png" alt="">
        <span>Увидеть звезды</span>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="rental-wrapper">
    <span class="rental-wrapper-title">Сейчас в планетарии</span>
    <div class="rental-more">
      <img src="assets/images/calendar.png" alt="">
      <span>Расписание сеансов</span>
    </div>
      <div class="rental-slides">
        <div class="rental-slide">
          <img src="assets/images/interstellarPict.png" alt="">
          <h3>Интерстеллар</h3>
          <span>Фантастика, драма, приключения</span>
          <button mat-flat-button color="primary">Купить билет</button>
        </div>
        <div class="rental-slide">
          <img src="assets/images/starWarsPict.png" alt="">
          <h3>Интерстеллар</h3>
          <span>Фантастика, драма, приключения</span>
          <button mat-flat-button color="primary">Купить билет</button>
        </div>
        <div class="rental-slide">
          <img src="assets/images/oblivionPict.png" alt="">
          <h3>Интерстеллар</h3>
          <span>Фантастика, драма, приключения</span>
          <button mat-flat-button color="primary">Купить билет</button>
        </div>
        <div class="rental-slide">
          <img src="assets/images/littlePrincePict.png" alt="">
          <h3>Интерстеллар</h3>
          <span>Фантастика, драма, приключения</span>
          <button mat-flat-button color="primary">Купить билет</button>
        </div>
      </div>
  </div>
</section>

<section>
  <div class="news-wrapper">
    <span class="news-wrapper-title">Новости планетария</span>
    <div class="news">
      <div class="new">
        <img src="assets/images/news.png" alt="">
        <div class="new-tags">
          <img src="assets/images/ellipse.png" alt="">
          <span>тег</span>
        </div>
        <span>Премьера фильма в Планетарии</span>
      </div>
      <div class="new">
        <img src="assets/images/news.png" alt="">
        <div class="new-tags">
          <img src="assets/images/ellipse.png" alt="">
          <span>тег</span>
        </div>
        <span>Обсерватория Минского Планетария закрылась на зимний период</span>
      </div>
      <div class="new">
        <img src="assets/images/news.png" alt="">
        <div class="new-tags">
          <img src="assets/images/ellipse.png" alt="">
          <span>тег</span>
        </div>
        <span>Премьера фильма в Планетарии</span>
      </div>
      <div class="new">
        <img src="assets/images/news.png" alt="">
        <div class="new-tags">
          <img src="assets/images/ellipse.png" alt="">
          <span>тег</span>
        </div>
        <span>Премьера фильма в Планетарии</span>
      </div>
    </div>
    <div class="more-news">
      <a>Больше новостей</a>
    </div>
  </div>
</section>


<section>
  <div class="questions-wrapper">
    <span class="questions-wrapper-title">Часто задаваемые вопросы:</span>
    <div class="questions-content">
      <div class="questions-content-accordion">
        <mat-accordion>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Возможно ли посещение с маленькими детьми?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Сеансы в Планетарии имеют разный рекомендуемый возраст, в зависимости от содержания программы. Посещение сеансов с детьми до 3 лет, а также людям со слабым вестибулярным аппаратом не рекомендовано, поскольку сеанс проводится в полной темноте, с высоким эффектом присутствия, что может вызвать дискомфорт. За возможные последствия администрация ответственности не несет. Если ребенок заплачет, администрация имеет право попросить вас покинуть зал, чтобы не мешать другим посетителям. Деньги за оплаченные услуги в данном случае зрителю не возмещаются.</p>
          </mat-expansion-panel>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
      <img class="nearAccordion" src="assets/images/nearAccordion.png" alt="">
    </div>
  </div>
</section>


<section>
  <div class="wrapper-customQuestion">
    <div class="customQuestion-content">
      <h3>Остались вопросы?</h3>
      <mat-form-field appearance="outline">
        <mat-label>Ваша почта</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Вопрос</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field appearance="fill" class="text">
        <mat-label>Опишите вашу проблему</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary">Отправить</button>
    </div>
  </div>
</section>
