@font-face {
  font-family: ttTravel;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/ttTravel/TTTravels-Regular.ttf");
}

@font-face {
  font-family: ttTravel-bold;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/ttTravel/TTTravels-Bold.ttf");
}

@font-face {
  font-family: ttTravel-medium;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/ttTravel/TTTravels-Medium.ttf");
}
